body {
    font-family: Arial, sans-serif;
  }
  .top-bar {
    font-size: 0.9rem;
  }
  .category-badge {
    font-size: 0.75rem;
    font-weight: bold;
  }
  .article-snippet {
    border-left: 4px solid #ccc;
    padding-left: 10px;
    margin-bottom: 1.5rem;
  }
  .main-img {
    width: 100%;
    height: auto;
    max-height: 420px;
    object-fit: cover;
  }





  .category-img {
    height: 120px;
    object-fit: cover;
  }
  .category-title {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 600;
  }
  .editor-section {
    padding: 3rem;
    box-sizing: border-box;
  

  }
  .editor-title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .story-category {
    color: gray;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .story-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

/*  */
.latest-section {
  /* background-color: white; */
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background-color:rgba(240, 143, 100, 1)
}
.news-title {
  font-weight: 600;
}
.news-category {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: rgb(27, 23, 23);
}

.primari-btn{
  width: 100px;
  height: 40px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px;
  background-color: rgba(240, 143, 100, 1);
  border-radius: 20px;
}
.border{
  border-radius: 10px;
  width: 300px;
  padding: 15px;
}
.img-icon{
  width: 40px ;
  height: 38px;
  background-color: rgba(240, 143, 100, 1);
  padding: 5px;
  border-radius: 5px;
 
}





.featured-article  {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.featured-article img {
  width: 100%;
  height: auto;

}
.featured-article .overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: end;
  background: rgba(105, 96, 96, 0.5);
  color: #fff;
  display: flex;

  padding: 1rem;
}

.img-len{
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
